@font-face {
  font-family: 'LeeSeoyun';
  src: url("./styles/LeeSeoyun.otf");
}

body {
  margin: 0;
  font-family: 'LeeSeoyun';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
